:root{
    --primary-color: #F07807;
    --secundary-color: #F7E5D8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
body{
    padding: 0 80px;
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);
}
header{
    position: fixed;
    width: calc(100% - 160px);
    height: 60px;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header menu{
    display: flex;
    align-items: center;
    gap: 48px;
}
header li{
    transition: .5s;
    padding: 4px 8px;
}
header li:hover{
    background-color: var(--secundary-color);
    box-shadow: 0 4px 8px #0005;
}
header button{
    width: 120px;
    height: 48px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 8px #0005;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}
main{
    height: 700px;
    /*background-color: aqua;*/
}
footer{
    height: 1526px;
    /*background-color: pink;*/
}
